alembic
bleach
cryptography
dilithium-py
email-validator
fastapi
httpx
jinja2
kyber-py
passlib[argon2]
psycopg2-binary
pydantic
pydantic-settings
pydantic[email]
pyjwt
redis
sqlalchemy
stripe
uvicorn
